# MacOS Finder Files
.DS_Store

# Cache Folder
/cache
.cache

# Softwares Folder
/softwares

# Stock Folder
/stock

# properties file
properties.yaml

# Python cache
__pycache__/

# Python PIP3 Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Kiauh Script
/scripts/kiauh