# IDE
.idea

# MacOS Finder Files
.DS_Store

# Python Virtual Env
SyncraftCore-env

# Custom Startup
/custom_startup

# Cache Folder
/cache
.cache

# Info
core/info.yaml

# Store Folder
/store/stock
/store/fresh
/store/kiauh

# KlipperScreen materials
/materials/custom.json

# Python cache
__pycache__/

# Python PIP3 Installer logs
pip-log.txt
pip-delete-this-directory.txt