[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
netifaces = "*"
requests = "*"
websocket-client = "*"
get-mac = "*"
gitdb = "*"
gitpython = "*"
smmap = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
